<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejemplo de Login</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  
  <link href="css/formulario.css" rel="stylesheet">
</head>

<body class="bg-light">

  <div class="container">
    <main>
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="images/bootstrap-logo.svg" alt="" width="72" height="57">
        <h2>Bienvenid@ <em></em></h2>
        <p class="lead">Este es un ejemplo del panel de administración, desde el cual podrás modificar tus datos.</p>
      </div>

      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h4 class="mb-5 text-center">Información de la cuenta</h4>
          <form method="post" action="/information">
            <input id="idp" type="text" value="<%= info[0]['ids']%>" name="ids" style="display: none;">
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstName" class="form-label">Nombre</label>
                <input type="text" class="form-control" name="nombre" value="<%= info[0]['nombre']%>">
              </div>

              <div class="col-sm-6">
                <label class="form-label">Apellido</label>
                <input type="text" class="form-control" name="apellido" value="<%= info[0]['apellido']%>">
              </div>

              <div class="col-12">
                <label class="form-label">Usuario</label>
                <div class="input-group ">
                  <span class="input-group-text">@</span>
                  <input type="text" class="form-control" placeholder="Username" name="username" value="<%= info[0]['username']%>">
                </div>
              </div>

              <div class="col-12">
                <label class="form-label">Email </label>
                <input type="email" class="form-control" placeholder="email@ejemplo.com" name="correo" value="<%= info[0]['correo']%>">
              </div>

              <div class="col-12">
                <label class="form-label">Dirección</label>
                <input type="text" class="form-control" placeholder="Av. Siempreviva 742, Springfield" name="direccion" value="<%= info[0]['direccion']%>">
              </div>

              <div class="col-md-5">
                <label class="form-label">País</label>
                <select class="form-select" name="pais">
                  <option value="<%= info[0]['pais']%>"> <%= info[0]['pais']%></option>
                  <option value="col">Colombia</option>
                  <option value="arg">Argentina</option>
                  <option value="eeuu">Estados Unidos</option>
                  <option value="otro">Otro</option>
                </select>
              </div>

              <div class="col-md-4">
                <label class="form-label">Estado</label>
                <select class="form-select" name="estado">
                  <option value=" <%= info[0]['estado']%>"> <%= info[0]['estado']%></option>
                  <option value="estado_1">Estado 1</option>
                  <option value="estado_2">Estado 2</option>
                  <option value="estado_3">Estado 3</option>
                </select>
              </div>

              <div class="col-md-3">
                <label class="form-label">C.P.</label>
                <input type="text" class="form-control" name="cp" value="<%= info[0]['cp']%>">
              </div>
            </div>

            <hr class="my-4">

            <div class="form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label" nama="mayor">Soy mayor de edad</label>
            </div>

            <div class="form-check">
              <input type="checkbox" class="form-check-input">
              <label class="form-check-label" name="terminos">Acepto Términos y Condiciones</label>
            </div>

            <hr class="my-4">
            <button id="buttonForm" class="w-100 btn btn-primary btn-lg" type="submit">Guardar</button>
          </form>
        </div>
      </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">&copy; 2022 Bootcamp Desarrollo Web Fullstack</p>
    </footer>
  </div>
</body>

</html>

